<div class="table-responsive">
 <table class="table table-hover table-bordered table-responsive">
        <thead>
        <th colspan="7">
                <a href="{{ url_for('main.user', username=workout.athlet.username) }}">
                        <img src="{{ workout.athlet.avatar(35) }}" />
                <a href="{{ url_for('main.user', username=workout.athlet.username) }}">
                        {{ workout.athlet.username }}
                    </a>
                    completed {{ moment(workout.timestamp).fromNow() }}:
            <strong>{{ workout.title }}: {{ moment(workout.timestamp).format('DD.MM.YYYY, HH:mm') }}</p>
        </th>
        </thead>
            <tr class="table-hover">
                {% set exercises = workout.exercises.all() %}
                {% for exercise in exercises %}
                    <td>
                        <p><strong>{{ exercise.exercise.title }}</strong></p>
                        {% set sets = exercise.sets.all() %}
                        {% for s in sets %}
                        <p>Progression: {{ s.progression }}</p>
                    {% endfor %}
                    </td>
                {% endfor %}
            </tr>
  </table>
</div>