{% set exercises = workout.exercises.all() %}
    {% for exercise in exercises %}
    <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p><strong>{{ exercise.exercise.title }}</strong></p>
                    {% set sets = exercise.sets.all() %}
                    {% for s in sets %}
                        <p>Progression: {{ s.progression }}</p>
                        <p>Reps: {{s.reps }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}