<table class="table table-hover table-bordered table-responsive">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=workout.athlet.username) }}">
                <img src="{{ workout.athlet.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.user', username=workout.athlet.username) }}">
                {{ workout.athlet.username }}
            </a>
            completed {{ moment(workout.timestamp).fromNow() }}:
            <br>
            <table class="table table-hover table-bordered table-responsive">
                <thead>
                <th colspan="7">
                    <h3>{{ workout.title }}: {{ moment(workout.timestamp).format('DD.MM.YYYY, HH:mm') }}</h3>
                </th>
                </thead>
                    <tr>
                        {% set exercises = workout.exercises.all() %}
                        {% for exercise in exercises %}
                            <td>
                                <h4>{{ exercise.exercise.title }}</h4>
                                {% set sets = exercise.sets.all() %}
                                {% for s in sets %}
                                <p>Progression: {{ s.progression }}</p>
                                <p>Reps: {{ s.reps }}</p>
                            {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
            </table>
        </td>
    </tr>
</table>