{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
    {% for exercises in exercises %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + exercises.athlet.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('main.user', username=exercises.athlet.username) }}">{{ exercises.athlet.username }}</a>
                <small class="text-muted">{{ exercises.date_created.strftime('%d-%m-%Y') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('main.exercise', exercises_id=exercises.id) }}">{{ exercises.title }}</a></h2>
<!--            <p class="article-content">{{ exercises.description }}</p>-->
          </div>
        </article>
    {% endfor %}
{% endblock content %}