{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <h1>Workouts von anderen Athleten entdecken</h1>
    <hr>
    {% for workout in workouts %}
    <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + workout.athlet.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('main.user', username=workout.athlet.username) }}">{{ workout.athlet.username }}</a>
              <small class="text-muted">{{ workout.timestamp.strftime('%d.%m.%Y') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('main.workout', workout_id=workout.id) }}">{{ workout.title }}</a></h2>
            {% include '_workout.html' %}
          </div>
        </article>
{% endfor %}
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> neuere Workouts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    &auml;ltere Workouts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
{% endblock %}