{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <div class>
            <h1>Welcome!</h1>
            <br>
            <p>You must register to use the Calisthenic Progression Tracker.</p>
            <p><a href="{{ url_for('auth.register') }}">Click to Register!</a>.</p>
            <hr>
            <h4>Features:</h4>
            <li>Adding workouts with multiple exercises, progression and reps</li>
            <li>Exploring and following workouts from other users</li>
            <h4>Features coming soon:</h4>
            <li>Creating exercises</li>
            <li>Search functions</li>
            <li>Search functions</li>
            <li>Export and analysis</li>
        </div>
    </div>
{% endblock %}