{% extends "base.html" %}

{% block content %}
    <h1>Hi {{ current_user.username }}</h1>
    {% if form %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.workout.label }}<br>
            {{form.workout(cols=32, rows=4) }}<br>
            {% for error in form.workout.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for workout in workouts %}
        {% include '_workout.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer workouts</a>
    {% endif %}   
    {% if next_url %}
    <a href="{{ next_url }}">Older workouts</a>
    {% endif %}
{% endblock %}